figure{
    display: block;
    text-align: center;
    padding: 5px;
}
body{
    background-color:beige;
}
h1{
    text-align: center;
    color: #318284;
    font-size: 50px;
}
p{
    font-size: 20px;
    clear: both;
}
}